[Unit]
Description=Run dhclient in a network namespace.
After=netns_helper@%i.service netns_helper-macvlan@%i.service
BindsTo=netns_helper@%i.service

[Service]
Type=simple
RuntimeDirectory=netns_helper-%i
ConfigurationDirectory=netns_helper
PIDFile=%t/netns_helper-%i/dhclient.pid
NetworkNamespacePath=%t/netns_helper/%i
ExecStart=dhclient -4 -d -pf %t/netns_helper-%i/dhclient.pid -lf %t/netns_helper-%i/dhclient.lease -cf /etc/netns_helper-ns/%i-dhclient.conf

[Install]
WantedBy=multi-user.target
