[Unit]
Description=Create a macvlan interface in a network namespace.
After=netns-helper@%i.service
BindsTo=netns-helper@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=env netns-helperctl %i macvlan create
ExecStop=env netns-helperctl %i macvlan delete

[Install]
WantedBy=multi-user.target
