[Unit]
Description=Run dhclient in a network namespace.
After=netns-helper@%i.service
Before=netns-helper-postup@%i.service
BindsTo=netns-helper@%i.service
JoinsNamespaceOf=netns-helper@%i.service

[Service]
Type=simple
RuntimeDirectory=netns-helper-%i
ConfigurationDirectory=netns-helper
PIDFile=%t/netns-helper-%i/dhclient.pid

Environment=DHCLIENT_SCRIPT_WRAPPER=/usr/bin/netns-dhclient-script-wrapper

BindPaths=-/etc/netns/%i/resolv.conf:/etc/resolv.conf
BindPaths=-/etc/netns/%i/nsswitch.conf:/etc/nsswitch.conf

ExecStart=env dhclient -4 -d -sf "${DHCLIENT_SCRIPT_WRAPPER}" -pf %t/netns-helper-%i/dhclient.pid -lf %t/netns-helper-%i/dhclient.lease -cf /etc/netns-helper-ns/%i-dhclient.conf

PrivateNetwork=true
ProtectSystem=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
