[Unit]
Description=Run script after network namespace is setup.
After=netns-helper@%i.service
BindsTo=netns-helper@%i.service
JoinsNamespaceOf=netns-helper@%i.service

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=env ip netns exec %i netns-helperctl %i postup

[Install]
WantedBy=multi-user.target
