[Unit]
Description=Start a new network namespace.
After=syslog.target network.target
#JoinsNamespaceOf=netns-helper@%i.service

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=netns-helperctl %i netns create
ExecStop=netns-helperctl %i netns delete

PrivateNetwork=true

[Install]
WantedBy=multi-user.target
