[Unit]
Description=Run script after network namespace is setup.
After=netns-helper@%i.service
BindsTo=netns-helper@%i.service
JoinsNamespaceOf=netns-helper@%i.service
PartOf=netns-helper@%i.target

[Service]
Type=oneshot
RemainAfterExit=true
Environment=PREFIX=/

ExecStart=env ip netns exec %i ${PREFIX}/lib/netns-helper/netns-helperctl %i postup