[Unit]
Description=Create a macvlan interface in a network namespace.
After=netns-helper@%i.service
Before=netns-helper-postup@%i.service netns-helper-dhcp@%i.service netns-helper-dhcp6@%i.service
BindsTo=netns-helper@%i.service
PartOf=netns-helper@%i.target

[Service]
Type=oneshot
RemainAfterExit=true
Environment=PREFIX=/

ExecStart=env ${PREFIX}/lib/netns-helper/netns-helperctl %i macvlan create
ExecStop=env ${PREFIX}/lib/netns-helper/netns-helperctl %i macvlan delete

[Install]
RequiredBy=netns-helper@%i.target
