[Unit]
Description=Network namespace %i target
Requires=network-online.target
After=network-online.target
AllowIsolate=no

[Install]
WantedBy=multi-user.target