[Unit]
Description=Create a macvlan interface in a network namespace.
After=netns_helper@%i.service
BindsTo=netns_helper@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=netns_helperctl %i macvlan create
ExecStop=netns_helperctl %i macvlan delete

[Install]
WantedBy=multi-user.target
