[Unit]
Description=Create a macvlan interface in a network namespace.
After=netns-helper@%i.service
BindsTo=netns-helper@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=netns-helperctl %i macvlan create
ExecStop=netns-helperctl %i macvlan delete

ProtectSystem=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
